* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
}

.textarea {
    resize: none;
    width: 100%;
    height: 100px;
    outline: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid grey;
}

.progress-bar-container {
    background: #f0f0f0;
    border-radius: 5px;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background: #4c1d95;
    height: 100%;
    width: 0%;
    transition: width 0.3s ease;
}

.counter {
    margin: 20px;
    display: flex;
    justify-content: space-between;

}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #4c1d95;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3a147b;
}